<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">BoardList</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.getId()}">Mark</td>
            <td th:text="${member.getUsername()}">Otto</td>
            <td>
                <span th:each="board : ${member.getBoardList()}" th:text="${board.getTitle()}"></span>
            </td>
        </tr>
    </tbody>
</table>
<div th:replace="~{fragments/footer :: footer}" />
</body>
</html>