<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<style>
    .container {
        margin: 10px;
    }
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
</style>

<body>
<div class="container">
    <h5>비밀번호 변경</h5>
    <form th:action th:object="${updateMemberPasswordForm}" method="post">
        <div class="form-group">
            <label th:for="currentPassword" class="form-label">현재 패스워드</label>
            <input type="text" th:field="*{currentPassword}" class="form-control"
                   th:errorclass="field-error"
                   placeholder="이전 패스워드를 입력하세요">
            <div class="field-error" th:errors="*{currentPassword}">Incorrect data</div>
        </div>
        <div class="form-group">
            <label th:for="newPassword" class="form-label">변경 패스워드</label>
            <input type="text" th:field="*{newPassword}" class="form-control"
                   th:errorclass="field-error"
                   placeholder="변경 패스워드를 입력하세요">
            <div class="field-error" th:errors="*{newPassword}">Incorrect data</div>
        </div>
        <div class="form-group">
            <label th:for="checkPassword" class="form-label">2차 패스워드(확인)</label>
            <input type="text" th:field="*{checkPassword}" class="form-control"
                   th:errorclass="field-error"
                   placeholder="변경 패스워드를 다시 입력해주세요">
            <div class="field-error" th:errors="*{checkPassword}">Incorrect data</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->
</body>
</html>