<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />

<div class="container">
    <div class="py-5 text-center">
        <h3>게시글 작성하기</h3>
    </div>

    <form th:action th:object="${boardForm}" method="post" enctype="multipart/form-data">
        <div>
            <label th:for="writer" class="form-label">제목</label>
            <input type="text" th:field="*{title}" class="form-control"
            placeholder="제목을 입력하세요" th:class="${#fields.hasErrors('title')}? 'form-control field-error' : 'form-control'">
        </div>
        <div>
            <label th:for="content" class="form-label">내용</label>
            <textarea rows="3" style="height: 200px;" th:field="*{content}" class="form-control"
                      placeholder="내용을 입력하세요" th:class="${#fields.hasErrors('content')}? 'form-control field-error' : 'form-control'"></textarea>
        </div>
        <div>
            <label th:for="images" class="form-label">이미지</label>
            <input type="file" multiple="multiple" th:field="*{imageFiles}">
        </div>

        <hr class="my-4">

        <button type="submit" class="btn btn-primary"> 저장하기 </button>
    </form>
    <br/>
    <div th:replace="~{fragments/footer :: footer}" />
</div>
</html>