<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />

<body>
<div class="container">
    <div class="py-5 text-center">
        <h3 th:text="${board.getTitle()}">게시물 조회</h3>
    </div>
    <br>
    <div>
        <span th:text="${board.getContent()}">게시물 내용</span>
    </div>

    <img th:each="image: ${boardImages}" th:src="|/images/${image.getFilename()}|" width="100%" height="auto"/>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button th:if="${username eq board.getUserEntity().username}"
                    class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='home.html'"
                    th:onclick="|location.href='@{/}'|"
                    type="button">수정하기</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='home.html'"
                    th:onclick="|location.href='@{/}'|"
                    type="button">돌아가기</button>
        </div>
    </div>

</div>
</body>
</html>